* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
  --dark-blue: #3090F1;
  --light-blue: #51A5FA;
  --dark-grey: #1A1A1A;
  --light-grey: #282828;
  
}
@media screen and (max-width: 790px) {
  *{
    font-size: 16px;
  }
}
@media screen and (max-width: 330px) {
  *{
    font-size: 14px;
  }
}
.href{
  text-decoration: none !important;
}
button:focus,
.form-check-input:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}